@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "../src/components/ui/_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  // background: #eff4f1;
  color: $white;

  .type1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
  }

  .type2 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;

    &.bold {
      font-weight: 500;
    }
  }

  .type3 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;

    &.bold {
      font-weight: 600;
    }
  }

  .type4 {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
  }

  .type5 {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0em;
  }

  h1 {
    // font-family: Atyp BL Display;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
  }

  h2 {
    // font-family: Atyp BL Display;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
  }

  h3 {
    // font-family: Atyp BL Display;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
  }

  h4 {
    // font-family: Atyp BL Display;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
  }

  h5 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }

  .react-confirm-alert-overlay.undefined {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // align-items: flex-start;
    // justify-content: center;
    // align-items: center;
    background-color: $text-black-2;

    .react-confirm-alert {
      width: 425px;
      .react-confirm-alert-body {
        margin-top: 120px;
        padding: 64px 24px;
        border-radius: 8px;
        background-color: $landing-page-bg;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: $text-black-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        width: 425px;

        h1 {
          font-size: 16px;
          line-height: 19px;
          font-weight: 700;
          width: 425px;
          margin-bottom: 8px;
        }

        .text {
          width: 356px !important;
        }

        .react-confirm-alert-button-group {
          display: flex;
          gap: 24px;
          margin-top: 40px;
          button {
            width: 170px;
            padding: 14px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            margin: 0;

            &[label="Cancel"] {
              color: $text-black-1;
              background-color: #e8ebe9;
            }
            &[label="Suspend"] {
              color: $white;
              background-color: $primary-green;
            }
            &[label="Delete"] {
              color: $white;
              background-color: #eb5757;
            }
          }
        }
      }
    }
  }
}
